<app-toolbar
  [scene]="scene"
  [engineEdit]="engineEdit"
  [isPlaying]="isPlaying"
  (onPlay)="play()"
  (onSideLeft)="sideleft.toggle()"
  (onSideRight)="sideright.toggle()"
>
</app-toolbar>

<mat-sidenav-container class="sidenav-container" [hasBackdrop]="false">
  <mat-sidenav
    #sideleft
    class="sidenav"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="'over'"
    [opened]="(isHandset$ | async) === false"
    position="start"
  >
    <app-panel-objects-tree
      [objs]="scene.objs"
      [selected]="selected"
      (onSelect)="select($event)"
    >
    </app-panel-objects-tree>
  </mat-sidenav>

  <mat-sidenav
    #sideright
    class="sidenav"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="'over'"
    [opened]="(isHandset$ | async) === false"
    position="end"
  >
    <app-panel-properties [selected]="selected"></app-panel-properties>
  </mat-sidenav>

  <mat-sidenav-content>
    <div id="wrapper">
      <canvas id="canvasedit" [hidden]="isPlaying"></canvas>
      <canvas id="canvasplay" [hidden]="!isPlaying"></canvas>
    </div>

    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
