.drop-above {
  border-top: 10px solid #dddddd;
  margin-top: -10px;
}

.drop-below {
  border-bottom: 10px solid #dddddd;
  margin-bottom: -10px;
}

.drop-center {
  background-color: #dddddd;
}

.selected,
.selected.mat-tree-node:hover {
  background-color: #4558be;
  color: #eee;
}

div[draggable] {
  cursor: pointer;
}

.drag-text {
  flex: auto;
}

mat-tree-node:hover {
  background-color: #eee;
}
