<div *ngIf="selected">
  <mat-toolbar>Properties</mat-toolbar>
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput type="text" [(ngModel)]="selected.name" />
  </mat-form-field>
  <h3>Position</h3>
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>X</mat-label>
    <input matInput type="number" [(ngModel)]="selected.position.x" name="position-x" />
  </mat-form-field>
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Y</mat-label>
    <input matInput type="number" [(ngModel)]="selected.position.y" name="position-y" />
  </mat-form-field>
</div>
